@import "url('https://fonts.googleapis.com/css2?family=Antonio:wght@200;400&display=swap');";

:root {
    --background:#8ec7e8;
}

body {
    font-family: 'Antonio', sans-serif;
    background-image: url("../Images/index/index.gif");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center center;
}

.form-container{
    max-width: 80vw;
    height: 47vw;
    margin: auto;
    padding-top: 8em;
}

.form-signin {
  max-width: 50%;
  padding: 1% 5%;
  margin: 0 auto;
  background-color: var(--background);
  border: none;
  text-align: center;
}

.form-control {
    position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

input{
    border: none;
}

.raise:hover, .raise:focus {
    border-color: var(--hover);
    color: black;
    cursor: pointer;
}
